In [28]:
import json

import pandas as pd
import os
import shutil

In [18]:
weather_ds = pd.read_csv('datasets/sweden/SE_weather.csv', sep=';')
incidents_ds = pd.read_csv('datasets/sweden/SE_incidents.csv', sep=';')

In [19]:
weather_ds.head()

,Datum,Tid (UTC),Station,Latitud (decimalgrader),Longitud (decimalgrader),Lufttemperatur (degrees celsius),Weather,Rain (mm),Unnamed: 8,Unnamed: 9
0,2022-03-15,12:00:00,Såtenäs,58.4280,12.7110,4.6,100.0,0.0,NaN,NaN
1,2022-03-15,13:00:00,Såtenäs,58.4281,12.7111,4.7,100.0,0.0,NaN,NaN
2,2022-03-15,14:00:00,Såtenäs,58.4282,12.7112,5.8,100.0,0.0,NaN,NaN
3,2022-03-15,15:00:00,Såtenäs,58.4283,12.7113,5.3,100.0,0.0,NaN,NaN
4,2022-03-15,16:00:00,Såtenäs,58.4284,12.7114,3.4,100.0,0.0,NaN,NaN

In [20]:
incidents_ds.head()

,CountryCode,Deleted,Deviation/0/CountyNo/0,Deviation/0/Creator,Deviation/0/CreationTime,Deviation/0/Geometry/SWEREF99TM,Deviation/0/Geometry/WGS84,Deviation/0/Header,Deviation/0/IconId,Deviation/0/Id,...,Deviation/1/Schedule/3/EndOfPeriod,Deviation/1/Schedule/3/RecurringTimePeriodOfDay/0/End,Deviation/1/Schedule/3/RecurringTimePeriodOfDay/0/Start,Deviation/1/Schedule/3/StartOfPeriod,Deviation/1/Schedule/4/EndOfPeriod,Deviation/1/Schedule/4/RecurringTimePeriodOfDay/0/End,Deviation/1/Schedule/4/RecurringTimePeriodOfDay/0/Start,Deviation/1/Schedule/4/StartOfPeriod,Deviation/1/Schedule/5/EndOfPeriod,Deviation/1/Schedule/5/RecurringTimePeriodOfDay/0/End
0,se,False,14.0,Trafikverket,1999-01-26T14:15:52.660+01:00,POINT (297160.02 6460440),POINT (11.5444756 58.23826),Ängöleden,ferryDepartureOnSchedule,SE_STA_TRISSID_1_121042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,se,False,24.0,Trafikverket,1999-03-02T16:46:21.140+01:00,POINT (785909.97 7092019.94),POINT (20.817894 63.83812),Holmöleden,ferryDepartureOnSchedule,SE_STA_TRISSID_1_136722,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,se,False,3.0,Trafikverket,2000-03-01T15:55:22.207+01:00,POINT (690189.02 6694314.07),POINT (18.4463024 60.3405762),Gräsöleden,ferryDepartureOnSchedule,SE_STA_TRISSID_1_1030734,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,se,False,5.0,Trafikverket,2011-06-13T16:15:18.200+02:00,POINT (592554.96 6500334.15),POINT (16.5941715 58.6334229),Skenäsleden,ferryDepartureOnSchedule,SE_STA_TRISSID_1_5105236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,se,False,6.0,Trafikverket,2001-04-02T15:16:08.690+02:00,POINT (461668.98 6432526.84),POINT (14.3509254 58.0326271),Visingsöleden (avgiftsbelagd färja),ferryDepartureOnSchedule,SE_STA_TRISSID_1_1368740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
road_pics = os.listdir('datasets/sweden/swedenroadcamera')

from_ = 'datasets/sweden/swedenroadcamera'
to_ = 'datasets/orion_325'

camera_name = 'Orion_325.jpg'


for pic in road_pics:
    if camera_name in pic:
        shutil.copyfile(from_ + f'/{pic}', to_ + f'/{pic}')

In [32]:
# Opening JSON file
f = open('datasets/SE_metadata.json')

# returns JSON object as
# a dictionary
data = json.load(f)

print(data.keys())
# Iterating through the json
# list
# for i in data['emp_details']:
#     print(i)

# Closing file
f.close()

dict_keys(['$schema', 'type', 'properties', 'required', 'additionalProperties', 'definitions'])